/*
 * This template should be copied into the target directory for your run and updated accordingly.
 * These arguments are intended to vary from run to run. Only edit the content in the 'params' block.
 * See the main configuration file at the path at the end for more fixed arguments. 
*/

outputDir   =   ""  // Location to write results

params {
    run_dir     =   ""  // Folder containing fastqs
    samplesheet =   ""  // csv samplesheet linking sample ID to fastq names and possibly other metadata
    
    /*
     * Attempt to concatenate fastqs for the same read and sample
     * Useful if there is data from multiple lanes or seq runs in the same folder
     * If only 1 FASTQ exists, nothing is done, so it should be safe to leave this on
     */
    concatenate_fastq = true

    downsample        = false // optional: downsample FASTQs to the target number of reads below
    downsample_target = 10000 // 

    mixcr_license = '/fh/fast/_IRC/FHIL/grp/analyses/BM_03/02_data/02_data-processing/MixCR/mixcr_license.txt'
    /*
     * MixCR required settings
     *  For additional/optional arguments, provide a process scope with ext.args (see confs/modules.config)
    */
    mixcr_preset = 'generic-amplicon-with-umi'
    mixcr_material = 'rna'
    mixcr_species = 'hsa'
    mixcr_assemble_clonotypes_by = 'CDR3'
    mixcr_left_alignment_boundary  = 'float' // [fload, rigid]
    mixcr_right_alignment_boundary = 'float' // [fload, rigid]
    mixcr_left_alignment_anchor  = ''        // gene_type or anchor point, e.g. 'C'. Can also be empty
    mixcr_right_alignment_anchor = 'C'       // gene_type or anchor point, e.g. 'C'. Can also be empty
    mixcr_tag_pattern = '' // e.g. '^(R1:*)\^(UMI:N{18})(R2:*)'
    /*
     * Additional arguments passed to MixCR analyze via -M <step.parameter=value>
     * E.g. ["assemble.cloneAssemblerParameters.separateByV=true", "assemble.cloneAssemblerParameters.separateByJ=true"] 
     * refer to the preset yamls for syntax on specifying additional arguments
     * https://github.com/milaboratory/mixcr/tree/develop/src/main/resources/presets/blocks
    */
    mixcr_analyze_additional_arguments = []


    

}

includeConfig "${projectDir}/conf/nextflow.config"
