/*
 * This template should be copied into the target directory for your run and updated accordingly.
 * These arguments are intended to vary from run to run. Only edit the content in the 'params' block.
 * See the main configuration file at the path at the end for more fixed arguments. 
*/

outputDir   =   ""  // Location to write results

params {
    run_dir     =   ""  // Folder containing fastqs
    samplesheet =   ""  // csv samplesheet linking sample ID to fastq names and possibly other metadata
    
    /*
     * Attempt to concatenate fastqs for the same read and sample
     * Useful if there is data from multiple lanes or seq runs in the same folder
     * If only 1 FASTQ exists, nothing is done, so it should be safe to leave this on
     */
    concatenate_fastq = true

    downsample        = false // optional: downsample FASTQs to the target number of reads below
    downsample_target = 10000 // 

    mixcr_license = "E-BSBNBYVCBBIAGVCMOQMDQUATLQZUDKXBIPAARSDTDWUVMVRX"

    // Add additional arguments to the confs/modules.config
    mixcr_preset = 'generic-amplicon-with-umi'
    mixcr_material = 'rna'
    mixcr_species = 'hsa'
}

includeConfig "${projectDir}/conf/nextflow.config"
