// https://nf-co.re/docs/guidelines/components/modules#optional-command-arguments
process {
    withName: CONCATENATE_FASTQ {
        ext.args = {[
            '--copy_method symlink',
            '--output .'
        ].join(' ')}
        ext.prefix = { "${meta.id}" }
    }
    withName: DOWNSAMPLE_FASTQ_PROCESS {
        ext.args = {[
            params.downsample_target, 
            "-s100"
        ].join(' ')}
        ext.prefix = { "${fastq.baseName}" }
    }
    withName: MIXCR {
        ext.args = {[
            '--no-json-reports',
            '--use-local-temp',
            '--assemble-clonotypes-by CDR3',
            '--floating-left-alignment-boundary',
            '--floating-right-alignment-boundary C',
            '--tag-pattern "^(R1:*)\\^(UMI:N{18})(R2:*)"'
        ].join(' ')}
        ext.prefix = { "${meta.id}" }
    }
}