// https://nf-co.re/docs/guidelines/components/modules#optional-command-arguments
process {
    withName: CONCATENATE_FASTQ {
        ext.args = {[
            '--copy_method symlink',
            '--output .'
        ].join(' ')}
        ext.prefix = { "${meta.id}" }
    }
    withName: DOWNSAMPLE_FASTQ_PROCESS {
        ext.args = {[
            params.downsample_target, 
            "-s100"
        ].join(' ')}
        ext.prefix = { "${fastq.baseName}" }
    }
    withName: MIXCR {
        ext.args = {[
            '--no-json-reports',
            '--use-local-temp'
        ].join(' ')}
        ext.prefix = { "${meta.id}" }
        ext.species = 'hsa'
    }
}