includeConfig "${projectDir}/conf/modules.config"
includeConfig "${projectDir}/conf/profiles.config"

apptainer {
    enabled = true
    // Might be nice to have a public cache to avoid redundant downloads
    cacheDir = "${HOME}/.apptainer/cache/library"
    autoMounts = true
}

manifest {
    version = "0.1.0"
    // necessary for new output directive syntax
    nextflowVersion = ">=25.04.2"
}

cleanup = true
with_report = true
